<!doctype html>
<html>
    <head><title>Friend's Birthdays</title></head>
    <body>
        <h1>Choose a friend</h1>
    	<ul>
    	<% for(var i = 0; i < uid.length; i++) {%>
        <li><%= name[i] %></li>
        <li><%= bday[i] %></li>
    	<% } %>
    	</ul>
        <p>Content</p>
    </body>
</html>
