<!doctype html>
<html>
    <head><title>Friend's Birthdays</title></head>
    <body>
    	<ul>
    	<% for(var i = 0; i < friends.length; i++) {%>
    		<%= friends.name %>
    	<% } %>
    	</ul>
        <h1>Choose a friend</h1>
        <p>Content</p>
    </body>
</html>
