<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
    </head>

    <body background="images/background.png">
        <div id="page-wrapper">
            <div class="page-header">
                <span class="logo"><img src="images/logo-large2.png" /></span>
                <div id="fb-root"></div>
                <a href="/auth/facebook"><input type="image" name="submit" value="submit" src="images/facebook-button.png">
                </input></a>
                <a href="/search"><div class="div-2"><input type="image" style="width:325px; height: 87px" name="submit" value="submit" src="images/giftmebutton.png" /></div></a>
            </div>
        </div>
    </body>
</html>
