<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
    </head>

    <body style="background-color:#e4e8eb;">
        <div id="page-wrapper">
            <div class="page-header">
                <p style="font-family: Candice; font-size: 55px; color: #de7676; margin-left: 300px">Giftr</p>
                <div id="fb-root"></div>
                <input type="image" name="submit" value="submit" src="images/facebook-button.png">
                <a href="/auth/facebook"</a></input>
                <div class="div-2"><input type="image" style="width:800px; height: 350px" name="submit" value="submit" src="images/manualSearchButton.png" /></div>
            </div>
        </div>
    </body>
</html>
