<!DOCTYPE html>
<html> 
  <head>
		<script src="//d7xe6yl2ckrgs.cloudfront.net/js/2/importio.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script>
		importio.init({"auth": {
		    "userGuid": "c4148a01-6fe5-48a2-996f-adce08b49a4f",
		    "apiKey": "5hXx5nTME6kvxBSsUxRELMXgCc/IPupD0Nd1hbo2lqvLXEaDkXGbpcfJBLkARwz47fNa1AS924qBgTj22n4oxQ=="
		}});
 
		$(document).ready(function() {
        	    var artistObjects;
                    $('#search_button').click(function() {
                    	var query_object = {"requestId":"testquery","input":{"artist_name": $('#artist_name').val()},"connectorGuids":["103c2bfd-8696-4ecc-a940-a326e3c39e35"]};
                    	console.log($('#artist_name').val());
                        importio.query(
                          query_object,
                          function(data) {
			                var jsonData = data;
			                var productCodeArr = new Array();
			                console.log(jsonData);
			                for(var i = 0; i < jsonData.length; i++) {
			                  var url = data[i].data.url.split("/");
			                  productCodeArr[i] = url[5];
			                }
			                console.log("productCodeArr is: ", productCodeArr);
                            var query_object2 = {"requestId":"testquery","input":{"id_2":productCodeArr[0],"id_1":productCodeArr[1],"id_3":productCodeArr[2]},"connectorGuids": ["51d10173-4da5-4fb7-9014-9fe1d2fcb16a"]};
			                importio.query(
			                  query_object2,
			                  function(data) {
			                    console.log("second query data is: ", data);
			                })
			            }
          	        );
                    });
                });
 
 
	</script> 
	</head> 
	<body>
		<form> 
			<input type="text" id="artist_name"/>
			<button id="search_button" type="button">Search</button>
		</form>
	</body> 
</html>
