#fb-button {
  margin-left: -50px; 
  margin-top: -70px
}

#gift-me-button {  
  width: 295px; 
  height: 87px; 
  margin-top: -180px
}

#app-description-text {  
  font-family: DeliusSwashCaps-Regular; 
  color: #C11B17;
  margin-top: -50px; 
  width: 93%
}

.navbar { 
    max-width: 1170px; /* width of .container */
    margin: 0 auto;
}
header{ 
  width: 100%;
  text-align: center; 
}
.center-div { 
  text-align: center;
}

@media all and (max-width: 1250px) and (min-width: 300px) {  
  #border-resize {  
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}


